<p>Author: {{question.author}}</p>
<p>Content: {{question.content}}</p>
<p>Notes: {{question.notes}}</p>
<div class="well">
	{{update-question updateQuestion='updateQuestion' question=question}}
	<button {{action 'deleteQuestion' question}} class="btn-info btn-sm">Delete</button>
</div>
<div class="well">
	<h3>Answers</h3>
	<ul>
		{{#each question.answers as |answer|}}
			{{answers-list answer=answer deleteAnswer='deleteAnswer'}}
		{{/each}}
	</ul>
</div>

